@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --accent: #6b21a8;
  --foreground: #f5e2e2;
}

body {
  color: var(--foreground);
  background: var(--background);
}
