@import "tailwindcss";

:root {
  --background: #171717;
  --accent: #6b21a8;
  --foreground: #f5e2e2;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p,
li,
span {
  font-size: 1rem;
}

li {
  list-style-type: disc;
}
